body {
    background: #30364c;
}

a {
    color: #fff;
}
  
.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.show-gif {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gif-preview {
    height: 150px;
    object-fit: contain;
}